# Percabangan dan Perulangan
## Percabangan
kita bertanya kepada computer apakah sesuatu itu True atau False. kalau True, jalankan code A, kalau False, jalanakan code B.

```python
if (kondisi):
  # code ini jalan hanya jika kondisi True
  print("ok, kondisi True")
else:
  # code disini jalan hanya jika kondisi False
  print("wah False kondisinya")
```

kondisi bisa kita isi macam macam termasuk:
- komparator a < b? a > b? 
- apakah datanya ada isinya, kalau data kosong seperti 0, 0.0, [], semua dianggap False
- semua value Boolean

kondisi bisa ada bbrp juga, dan kita sambungkan dengan operator "and" dan "or"
1. kondisi A dan kondisi B harus benar, dua2nya harus True, baru kita anggap kondisi True --> "and"
2. salah satu saja kondisi A atau kondisi B benar, kita anggap kondisi True --> "or"

In [1]:
a = 10
b = 15

if (a > b):
  print("a lebih besar dari b")

In [2]:
print(a > b)

False

karena a>b adalah False, maka blok kode yang ada di bawah if nya tidak dijalankan

In [3]:
a = 10
b = 15

if (a < b):
  print("a lebih kecil dari b")

a lebih kecil dari b

In [4]:
print(a < b)

True

karena a<b adalah True, maka blok kode yang ada di bawah if nya dijalankan

### else
selain if, ada else

In [5]:
a = 10
b = 15

if (a > b):
  print("a lebih besar dari b")
else:
  print("a tidak lebih besar dari b")

a tidak lebih besar dari b

### elif
selain if dan else, ada elif singkatan dari else if

digunakan saat pertanyaan kita nyambung setema

In [13]:
nilai_andi = 110

# grade A kalau nilai > 90
# grade B kalau nilai > 70
# grade C kalau nilai > 50
# grade D kalau nilai > 0
# nilai yang >100 dan <0 tidak valid, grade nya "F"

grade = ""

if (nilai_andi > 100):
  grade = "F"
elif (nilai_andi > 90):
  grade = "A"
elif (nilai_andi > 70):
  grade = "B"
elif (nilai_andi > 50):
  grade = "C"
elif (nilai_andi > 0):
  grade = "D"
else:
  grade = "F"

print(nilai_andi, grade)

110 F

## Nested If
di dalam if, ada if lagi

In [ ]:
# misalkan selain nilai, jumlah absen juga digunakan untuk menentukan grade murid.
# dengan grade antara A B C D F, dengan kondisi nilai seperti sebelumnya, 
# grade akan berubah menjadi F jika jumlah absen dibawah 50%

nilai_andi = 80

masuk = 7
total_kelas = 16
absen = masuk/total_kelas

grade = ""

if (nilai_andi > 100):
  grade = "F"
  
elif (nilai_andi > 90):
  grade = "A"
  if (absen < 0.5):
    grade = "F"

elif (nilai_andi > 70):
  grade = "B"
  if (absen < 0.5):
    grade = "F"

elif (nilai_andi > 50):
  grade = "C"
  if (absen < 0.5):
    grade = "F"
    
elif (nilai_andi > 0):
  grade = "D"
  if (absen < 0.5):
    grade = "F"

else:
  grade = "F"

# One-line If

In [19]:
# if biasa
# kalau umur > 17 dan tinggi >= 120 boleh naik roller coaster

umur = 15
tinggi = 163

if (umur > 17 and tinggi >=120):
  print("boleh naik roller coaster")

In [20]:
if (umur > 17 and tinggi >=120): print("boleh naik roller coaster")

In [21]:
if (umur > 17 and tinggi >=120):
  print("boleh naik roller coaster")
else:
  print("tidak boleh naik roller coaster")

tidak boleh naik roller coaster

In [22]:
if (umur > 17 and tinggi >=120): print("boleh naik roller coaster")
else: print("tidak boleh naik roller coaster")

tidak boleh naik roller coaster

In [23]:
if (umur > 17 and tinggi >=120):
  print("boleh naik roller coaster")
elif (umur > 13 and tinggi >=120):
  print("boleh naik roller coaster di tempat duduk paling depan")
else:
  print("tidak boleh naik roller coaster")

boleh naik roller coaster di tempat duduk paling depan

In [24]:
if (umur > 17 and tinggi >=120): print("boleh naik roller coaster")
elif (umur > 13 and tinggi >=120): print("boleh naik roller coaster di tempat duduk paling depan")
else: print("tidak boleh naik roller coaster")

boleh naik roller coaster di tempat duduk paling depan

# Ternary Operator
cara tulis if yang lebih singkat lagi

```python
"kalau benar" if (kondisi) else "kalau salah"
```

In [28]:
umur = 20

print("punya KTP" if (umur >= 17) else "tidak punya KTP")

punya KTP

In [29]:
if (umur >= 17):
  print("punya KTP")
else:
  print("tidak punya KTP")

punya KTP

In [30]:
# hasil ternary bisa kita simpan ke variable
msg = "punya KTP" if (umur >= 17) else "tidak punya KTP"

In [31]:
print(msg)

punya KTP

In [34]:
print("" if (umur >= 17) else "tidak", "punya KTP")

 punya KTP

### pass
placeholder jika sedang membuat conditional/percabangan atau iteration/loop/perulangan tapi code nya belum pasti.

In [36]:
# misalkan kita sudah tau mau cek kondisi apa

if (umur > 17 and tinggi >=120):
  print("boleh naik roller coaster")
else:
  # nanti ada tambahan pengecekan, baru kita print msg yg sesuai
  pass

boleh naik roller coaster

# Loop
iteration, perulangan

melakukan code yang sama berkali-kali

- while: melakukan code yang sama berkali-kali, selama kondisi masih True. mirip if. if jalan 1x saja, while jalan terus sampai kondisi berubah menjadi False.

- for: melakukan code yang sama berkali-kali, 1x untuk setiap item dalam sebuah koleksi. koleksi bisa termasuk data string (setiap huruf), list/tuple (setiap item), dictionary (setiap key), range (setiap angka urut)

```python
for nama_variable in koleksi:
  print(nama_variable)
```
for loop akan memasukkan setiap item, satu per satu, ke dalam "nama_variable", lalu code yang ada di dalam for loop nya di jalankan 1x untuk setiap item tersebut.

In [39]:
keranjang_buah = ["jeruk", "apel", "pisang", "jeruk", "pir", "apel", "melon", "jeruk"]

# untuk setiap buah di dalam keranjang_buah --> for loop
# kalau buah adalah "apel" --> conditional if
# tambahkan 1 ke "total_apel" --> simpan integer ke variable, ubah variable jadi +1 value integernya

# hitung ada berapa "apel" dalam list "keranjang_buah"

# cara tulis for loop
total_apel = 0
total_jeruk = 0
for buah in keranjang_buah:
  if (buah == "apel"):
    total_apel = total_apel + 1

  if (buah == "jeruk"):
    total_jeruk = total_jeruk + 1

print(total_apel,"apel")
print(total_jeruk, "jeruk")

2 apel
3 jeruk

In [41]:
# cara tulis while loop

index = 0
while (index < len(keranjang_buah)):
  buah = keranjang_buah[index]
  print(index, buah)

  index = index + 1

0 jeruk
1 apel
2 pisang
3 jeruk
4 pir
5 apel
6 melon
7 jeruk

In [42]:
index = 0
total_apel = 0
while (index < len(keranjang_buah)):
  buah = keranjang_buah[index]
  if (buah == "apel"):
    total_apel = total_apel + 1

  index = index + 1

print(total_apel, "apel")

2 apel

In [44]:
umur = 20
while (umur > 17 and tinggi >=120):
  print("umur", umur)
  print("boleh naik roller coaster")
  # jangan lupa kalau menggunakan while loop
  # kondisi harus berubah jadi False
  # jika tidak, kita tidak akan pernah keluar dari loop --> infinite loop error

  umur = umur -1

umur 20
boleh naik roller coaster
umur 19
boleh naik roller coaster
umur 18
boleh naik roller coaster

In [46]:
# while bisa punya else
umur = 15
tinggi = 160

while (umur > 17 and tinggi >=120):
  print("umur", umur)
  print("boleh naik roller coaster")
  umur = umur -1
else:
  print("kondisinya sudah False")
  print("umur", umur)

kondisinya sudah False
umur 15

In [ ]:
# break dan continue
# break memaksa untuk langsung berhenti, bahkan sampai skip else nya while

# continue skip 1 putaran saja

In [55]:
keranjang_buah = ["jeruk", "apel", 15, "jeruk", "pir", "apel", "melon", "jeruk"]

index = 0
while (index < len(keranjang_buah)):
  buah = keranjang_buah[index]

  if (type(buah) != type("")):
    print("ada data yang bukan string")
    break

  print(index, buah, type(buah))
  index = index + 1
else:
  print("masuk else nya while loop")

0 jeruk <class 'str'>
1 apel <class 'str'>
ada data yang bukan string

break langsung memaksa keluar dari loop nya

In [54]:
keranjang_buah = ["jeruk", "apel", 15, "jeruk", "pir", "apel", "melon", "jeruk"]

index = 0
while (index < len(keranjang_buah)):
  buah = keranjang_buah[index]

  if (type(buah) != type("")):
    print("ada data yang bukan string")
    index = index + 1
    continue

  print(index, buah, type(buah))
  index = index + 1
else:
  print("masuk else nya while loop")

0 jeruk <class 'str'>
1 apel <class 'str'>
ada data yang bukan string
3 jeruk <class 'str'>
4 pir <class 'str'>
5 apel <class 'str'>
6 melon <class 'str'>
7 jeruk <class 'str'>
masuk else nya while loop

continue langsung kita balik ke awal loop nya, cek kondisi lagi

In [56]:
a = 1
b = 2
c = 3

if (a==1):
  if (b==2):
    if(c==3):
      print("abc adalah 123")

abc adalah 123

In [57]:
# misal ada stok barang dari 3 cabang toko berbeda
stok_barang = [
    ["sepatu", "baju", "celana"],
    ["sepatu", "jaket"],
    ["baju", "rok", "topi"],
]

# total ada berapa "sepatu"?
for cabang in stok_barang:
  for barang in cabang:
    print(barang)

sepatu
baju
celana
sepatu
jaket
baju
rok
topi

# one-line while loop

In [58]:
n = 0

while (n < 5):
  print(n)
  n = n + 1

0
1
2
3
4

In [59]:
n = 0

while (n < 5): print(n); n = n + 1;

0
1
2
3
4

# For Loop
```python
for nama_variable in koleksi:
  print(nama_variable)
```

In [61]:
# list

print(keranjang_buah)

for buah in keranjang_buah:
  print(buah)

['jeruk', 'apel', 15, 'jeruk', 'pir', 'apel', 'melon', 'jeruk']
jeruk
apel
15
jeruk
pir
apel
melon
jeruk

In [67]:
# tuple

nilai = (12,34,76,87,23)

for n in nilai:
  print(n)

12
34
76
87
23

In [62]:
# dictionary

belanjaan = {
    "beras": 5,
    "telur": 12,
    "minyak": 2,
    "sayur": 1000
}
print(belanjaan)

for item in belanjaan:
  print(item)

{'beras': 5, 'telur': 12, 'minyak': 2, 'sayur': 1000}
beras
telur
minyak
sayur

In [63]:
for item in belanjaan:
  print(item, belanjaan[item])

beras 5
telur 12
minyak 2
sayur 1000

In [64]:
belanjaan.keys()

dict_keys(['beras', 'telur', 'minyak', 'sayur'])

In [65]:
for key in belanjaan.keys():
  print(key)

beras
telur
minyak
sayur

In [66]:
for value in belanjaan.values():
  print(value)

5
12
2
1000

In [72]:
# string

msg = "Hacktiv8"

for huruf in msg:
  print(huruf, "ok")

H ok
a ok
c ok
k ok
t ok
i ok
v ok
8 ok

In [73]:
# range
# pembuatan angka urut dengan cepat

for n in range(10):
  print(n)

0
1
2
3
4
5
6
7
8
9

In [74]:
for n in range(10,20):
  print(n)

10
11
12
13
14
15
16
17
18
19

In [76]:
for n in range(10,25,5):
  print(n)

10
15
20

## input
keyword python, fungsi bawaan untuk minta input dari user

In [77]:
input()

a

'a'

In [81]:
# kita buat program yang bisa convert nilai jadi grade

while True:
  nilai = input()

  if (nilai == "stop"): break
  else: nilai = int(nilai)

  grade = ""
  if (nilai > 100):
    grade = "F"
  elif (nilai > 90):
    grade = "A"
  elif (nilai > 70):
    grade = "B"
  elif (nilai > 50):
    grade = "C"
  elif (nilai > 0):
    grade = "D"
  else:
    grade = "F"

  print(nilai, grade)

50
50 D
60
60 C
70
70 C
80
80 B
90
90 B
00
0 F
100
100 A
stop